.container {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
  }
  
  .main-contents {
    width: 100%;
    padding: 10px;
    background-color: #ccc;
  }
  
  .side-menu {
    width: 30%;
    padding: 10px;
    background-color: rgb(228, 255, 170);
  }