body {
    background-color: #f0f8ff;
    /* 淡い青 */
    margin: 0;
    padding-top: 70px; /* ナビゲーションバーの高さ分の余白を追加 */
}

h1 {
    font-weight: bold;
    color: #333;
    margin-top: 1em;
}

.container {
    max-width: 70em;
    margin: auto;
}

.table {
    margin-top: 1em;
    border-radius: 0.5em;
    overflow: hidden;
    box-shadow: 0 0.3em 0.6em rgba(0, 0, 0, 0.1);
}

.round-button{
    border-radius: 2em;
}

.btn-lg-custom {
    padding: 1em 2em;
    font-size: 1.3em;
}

/* デスクトップ端末ではテーブルの文字サイズをでかくする */
@media (min-width: 1024px) {

    th,
    td {
        font-size: 1.3rem;
        /* 文字サイズを1.3倍にする */
    }

/* 商品画像サイズ */
.product-image img {
    width: 40%;    /* 幅を50%に設定 */
    height: auto;  /* 高さは自動調整 */
}
}


